/autom4te.cache/
/config/
src/morse
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1
TAGS
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
vgcore.*
TODO.org
.dir-locals.el
test-driver
test/check_morse.trs
test/check_morse
*.orig